.wrapper
  .header
    .header__left
      .header__left-home
        VGyoU
      .header__left-search
        Search
    .header__right
      .header__right__sign
        = link_to "アカウント作成","/users/sign_up", class: "up"
        = link_to "ログイン","/users/sign_in", class: "in"
  .list
    